.birth-year-range-selectors {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // margin: -0.25rem; //hack to make flex items align with edge

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 0.8rem;

  .birth-year-range-selector {
    border-radius: 5px;
    background: #fff;

    // flex-basis: calc(30% - 1rem);
    padding: 0.5rem;
    text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin: 0.25rem;
    transition: 0.1s ease-in;
    cursor: pointer;

    p {
      margin: 0;
    }

    &--selected {
      background: #32cd32;
      p {
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  .birth-year-range-selectors {
    .birth-year-range-selector {
      p {
        font-size: 0.6rem;
      }
    }
  }
}
