@import '../palette';

.language-choose-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  background: rgba(255, 255, 255, 0.99);

  opacity: 1;
  transition: 0.5s ease-in;
  &--hidden {
    opacity: 0;
  }

  &--window {
    margin: 2.5rem auto 2.5rem;
    min-height: 70%;
    width: 50%;
    top: 5vh;
    left: 5vw;
    background: #fff;
    border-radius: 15px;
    z-index: 101;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5% 20%;
    text-align: center;

    p {
      color: $gunmetallighter;
    }
  }

  language-choose-dialog-button {
    flex-basis: 50%;
  }

  &--button {
    padding: 0.125rem 1rem;
    border-radius: 10px;
    border: 2px solid $bluegreen;
    cursor: pointer;
    background: #fff;
    transition: 0.2s linear;
    color: $gunmetal;
    margin-bottom: 1rem;
    margin-right: 1rem;

    &__highlighted {
      background: #37d4d4;
      color: #fff;
    }

    &:hover {
      background: #fcfcfc;
      color: $bluegreen;
    }
    p {
      color: inherit;
    }
  }

  &--main-options {
    display: flex;
    width: 100%;
  }

  &--all-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 720px) {
  .language-choose-dialog {
    &--window {
      min-height: 90%;
      height: auto;
      width: 80%;
      padding: 0 5%;
    }

    &--options {
      justify-content: space-around;
    }
  }
}
