/* HEX */
$bluegreen: #30BFBF;
  $bluegreendarker: #259393;
$deeppurple: #9F2B68;
  $deeppurpledarker: #852457;
$white: #FFFFFF;
  $lightgray: #E5E5E5;
$gunmetal: #1F262A;
  $dark: #0B0E0F;

/* RGB */
$bluegreen: rgb(48, 191, 191);
  $bluegreendarker: rgb(37, 147, 147);
$deeppurple: rgb(159, 43, 104);
  $deeppurpledarker: rgb(133, 36, 87);
$white: rgb(255, 255, 255);
  $lightgray: rgb(229, 229, 229);
$gunmetal: rgb(31, 38, 42);
  $dark: rgb(11, 14, 15);

/* HSL */
$bluegreen: hsl(180, 59.83%, 46.86%);
  $bluegreendarker: hsl(180, 59.78%, 36.08%);
$deeppurple: hsl(328.45, 57.43%, 39.61%);
  $deeppurpledarker: hsl(328.45, 57.4%, 33.14%);
$white: hsl(0, 0%, 100%);
  $lightgray: hsl(0, 0%, 89.8%);
$gunmetal: hsl(201.82, 15.07%, 14.31%);
  $dark: hsl(195, 15.38%, 5.1%);
